/*LAYOUT*/
body{
    display: flex;
    justify-content: center;
    font-family: 'Calibri', sans-serif;
}
.main-container {
    display: flex;
    width:1200px;
}

/*general*/
ul{
    list-style-type: none;
}

h1,
h2 {
    text-transform: uppercase;
    font-family: 'Calibri Light', sans-serif;
}


/*aside*/

aside{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 20px;
    background-color: #647087;
    flex-basis: 25%;
    padding: 0 10px;
}

aside *{
    color: white;
}

aside h2{
    letter-spacing: 5px;
}

aside section h2:first-child{
    border-bottom: 2px solid white;
}

#profile-pic{
    text-align: center;
}

#profile-pic img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

/*main*/

main {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

main section > h2{
    text-transform: uppercase;
    letter-spacing: 5px;
}

.me {
    background-color: #647087;
    box-shadow: 2px 2px 40px 1px #F7DDC3 inset;
    padding: 15% 0;
    text-align: center;
}

.me h2{
    color: white;
    border-top: 2px solid white;
    letter-spacing: 10px;
}

.me h1{
    letter-spacing: 10px;
}

.about-me p{
    line-height: 2em;
    background-color: #F7DDC3;
    padding: 5px;
    text-align: justify;
}

article h3,
article h4{
    font-weight: bold;
}
article ul{
    list-style-type: square;
}

li{
    text-align: justify;
}

/*Reference*/
.references{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F7DDC3;

}

.references article{
    width: 33%;
    color: white;
    text-align: center;
    background-color: #647087;
    position: relative;
}



/*DL*/

dl{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 40px;
    margin: 0 -100px 0 0;
}

dt,
dd {
    line-height: 1.5em;
    border-top: 1px solid white;
    flex-basis: 60%;
    margin: 0;

}

dt:last-of-type,
dd:last-of-type{
    border-bottom: 1px solid white;
}

dt{
    font-weight: bolder;
}

/*Icons*/
.social-item::before{
    padding-right: 15px;
}

.ph::before{
    content: "\f095";
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
}

.em::before{
    content: "\f0e0";
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
}

/*Meter*/
meter{
    display: block;
    width: 80%;
}

meter::-webkit-meter-optimum-value{
    background: #EDC0AF none;
}

meter::-webkit-meter-bar{
    background: #FFFFFF none;
}

@media (max-width: 500px) {
    .main-container {
        width: 100%;
        flex-wrap: wrap;
        font-size: 1.2em;
    }
    aside,
    main {
        flex: 100%;
    }
}